.main{
    margin-top: 200px;
    margin-left: 200px;
    text-align: center;
    padding-top: 70px;
    height:250px;
    width:350px;
    background-color: aqua;
    border-radius: 25px;
}
button{
    border-radius: 0.5em;
}