<div class="main">
    <div class="left">
        <h1>Mywebsite</h1>
        <hr>
        <h3 routerLink="/home">home</h3>
        <h3 routerLink="welcome">welcome</h3>
        <h3 routerLink="databinding">databinding</h3>
        <h3 routerLink="calculator">caculator</h3>
        <h3 routerLink="rectangle">rectangle</h3>
        <h3 routerLink="circle">circle</h3>
        <h3 routerLink="bmi">bmi</h3>
        <h3 routerLink="directives">directives</h3>
        <hr>
        <button class="logout">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>